<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- Web View -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Sensitive permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_6_month"
        tools:targetApi="31">
        <activity
            android:name=".Firebase.RealDBActivity"
            android:exported="false" />
        <activity
            android:name=".Firebase.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Permissions.PermissionsActivity"
            android:exported="false" />
        <activity
            android:name=".WebView.WebActivity"
            android:exported="true"></activity>
        <activity
            android:name=".RoomDatabase.RoomActivity"
            android:exported="true" />
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name=".Drawer.DrawerActivity"
            android:exported="true"
            android:label="@string/title_activity_drawer"
            android:theme="@style/Theme.Android_6_month.NoActionBar" />
        <activity
            android:name=".Splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Recycler_View.RecyclerViewActivity"
            android:exported="true" />
        <activity
            android:name=".BottomNavigation.BottomNavigationActivity"
            android:exported="true"
            android:label="@string/title_activity_bottom_navigation" />
        <activity
            android:name=".ConstraintLayout.ConstraintActivity"
            android:exported="true" />
        <activity
            android:name=".RelativeLayout.RelativeLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>